---
import FaqAccordion from "../atoms/FaqAccordion.astro";

interface FaqItem {
  question: string;
  answer: string;
}

interface Props {
  heading: string;
  faqs: FaqItem[];
}

const { heading, faqs } = Astro.props;
---

<section class="py-16 isolate md:py-20">
  <m-container class="flex flex-col gap-10">
    <h2 class="text-4xl leading-tight md:text-5xl font-display text-brand-dark">
      {heading}
    </h2>

    <div>
      {
        faqs.map((faq) => (
          <FaqAccordion question={faq.question}>
            <p set:html={faq.answer} />
          </FaqAccordion>
        ))
      }
    </div>
  </m-container>
</section>

<script is:inline>
  const items = document.querySelectorAll(" details");

  items.forEach((item) => {
    item.addEventListener("toggle", () => {
      if (item.open) {
        items.forEach((el) => {
          if (el !== item) el.removeAttribute("open");
        });
      }
    });
  });
</script>
