---
import Icon from "./Icon.astro";

export interface Props {
  question: string;
}
const { question } = Astro.props;
---

<details
  class="w-full px-2 transition-all border-b border-brand-gris/10 hover:bg-brand-dark/2 open:bg-brand-celeste/5 open:pl-8 open:hover:bg-brand-celeste/5"
>
  <summary
    class="text-md lg:text-lg font-display font-bold text-brand-dark flex items-start lg:items-center justify-between cursor-pointer list-none [&::-webkit-details-marker]:hidden transition-colors py-4 lg:py-6"
  >
    <h3 class="flex-1">{question}</h3>

    <span
      class="flex items-center justify-center transition-transform group-open:hidden"
    >
      <Icon name="add" size={24} />
    </span>
    <span
      class="items-center justify-center hidden transition-transform group-open:flex"
    >
      <Icon name="remove" size={24} />
    </span>
  </summary>
  <!-- Respuesta -->
  <div class="mt-0 mb-8 text-sm leading-normal md:text-md text-brand-gris">
    <slot />
  </div>
</details>
