---
import Icon from "./Icon.astro";

export interface Props {
  question: string;
}
const { question } = Astro.props;
---

<details
  class="w-full py-6 transition-all lg:py-4 px-2 border-b border-brand-gris/10 hover:bg-brand-dark/2"
>
  <summary
    class="text-xl lg:text-2xl font-display font-bold text-brand-dark flex items-start lg:items-center justify-between cursor-pointer list-none [&::-webkit-details-marker]:hidden transition-colors"
  >
    <span class="flex-1">{question}</span>
    <div
      class="flex items-center justify-center shrink-0 w-10 h-10 rounded-full bg-slate-50 text-brand-dark group-hover:bg-brand-celeste/10 transition-all mt-0.5 lg:mt-0"
    >
      <span
        class="flex items-center justify-center transition-transform group-open:hidden"
      >
        <Icon name="add" size={24} />
      </span>
      <span
        class="items-center justify-center hidden transition-transform group-open:flex"
      >
        <Icon name="remove" size={24} />
      </span>
    </div>
  </summary>
  <!-- Respuesta -->
  <div class="text-sm leading-relaxed md:text-base text-brand-gris mt-4 mb-2">
    <slot />
  </div>
</details>
