---
import ChipOvertitle from "@/components/atoms/ChipOvertitle.astro";
import CardSection from "@/components/atoms/CardSection.astro";
import FormContacto from "@/components/form/FormContacto.astro";

const BASE = import.meta.env.BASE_URL;
---

<section id="contacto" class="py-14 md:py-24 bg-brand-bg">
  <m-container class="p-0 md:px-4">
    <CardSection
      variant="primary"
      glowStyle="dual"
      backgroundPattern={BASE + "imgs/mapa.png"}
      backgroundPatternOpacity={0.3}
      class="flex items-center px-2 py-4 lg:pr-10 lg:pl-20 lg:py-10 md:p-10"
    >
      <m-row class="py-10 md:py-0 flex-col items-center gap-20 lg:flex-row">
        <!-- Left Column: Text Content -->
        <m-col class="flex-1 w-full lg:w-1/2 gap-0">
          <!-- Tag/Badge -->

          <ChipOvertitle text="Conversemos" theme="dark" class="mb-4 md:mb-8" />

          <!-- Heading -->
          <h2
            class="mb-6 text-4xl leading-tight text-white md:text-5xl lg:text-6xl font-display"
          >
            Apasionados por el Marketing Digital
          </h2>

          <!-- Description -->
          <p class="leading-relaxed text-white/90">
            Desarrollamos estrategias de marketing digital para nuestros
            clientes, desde la etapa de planeamiento hasta la implementación de
            campañas de marketing digital, medición de resultados y
            asesoramiento personalizado.
          </p>
        </m-col>

        <!-- Right Column: Form -->
        <m-col class="flex-1 w-full lg:w-1/2">
          <div class="bg-white rounded-xl p-6">
            <h3
              class="text-2xl font-display text-brand-foreground mb-2 text-center"
            >
              Asesoramiento personalizado
            </h3>
            <p
              class="text-slate-500 text-center mb-8"
              data-astro-cid-poq7oftn=""
            >
              Completa tus datos y nos ponemos en contacto.
            </p>
            <FormContacto />
          </div>
        </m-col>
      </m-row>
    </CardSection>
  </m-container>
</section>
